Source: atril
Section: x11
Priority: optional
Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
           John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
Build-Depends: cdbs,
               debhelper (>= 9),
               intltool,
               mate-common,
               mate-doc-utils,
               mate-doc-utils-gnome | gnome-doc-utils,
               gtk-doc-tools,
               libdbus-glib-1-dev,
               libx11-dev,
               libgtk2.0-dev,
               libglib2.0-dev,
               libmatekeyring-dev,
               mate-icon-theme,
               libxml2-dev,
               libsm-dev,
               zlib1g-dev,
               libcaja-extension-dev (>= 1.5.0),
               libpoppler-glib-dev,
               libspectre-dev,
               libtiff4-dev,
               libdjvulibre-dev,
               libkpathsea-dev,
               libt1-dev,
               autotools-dev,
               libgail-dev,
               xsltproc,
               libgxps-dev
Standards-Version: 3.9.5
Homepage: http://www.mate-desktop.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-mate/atril.git;a=summary
Vcs-Git: git://anonscm.debian.org/pkg-mate/atril.git

Package: atril
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-icon-theme,
         shared-mime-info,
         atril-common (= ${source:Version}),
         libatril (= ${binary:Version})
Recommends: dbus-x11,
            gvfs
Provides: pdf-viewer,
          postscript-viewer,
          djvu-viewer
Suggests: unrar, poppler-data, mate-file-manager
Description: MATE document viewer
 atril is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.

Package: atril-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         atril (= ${binary:Version}),
         libatril (= ${binary:Version})
Description: MATE document viewer (debugging symbols)
 This package contains debugging symbols for atril and the
 libatril library. It is provided to help debugging problems.
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.

Package: atril-common
Architecture: all
Depends: ${misc:Depends}
Breaks: atril (<= 1.0.3-3)
Description: MATE document viewer (common files)
 atril is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.
 .
 This package contains the architecture independent files.

Package: libatril
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: MATE document rendering library
 aatril is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.
 .
 This package contains the rendering library.

Package: libatril-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libatril
Description: MATE document rendering library (development files)
 atril is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.
 .
 This package contains the development files.

Package: libatril-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: MATE document rendering library (documentation files)
 atril is a simple multi-page document viewer.  It can display
 and print PostScript (PS), Encapsulated PostScript (EPS), DJVU, DVI and
 Portable Document Format (PDF) files.
 When supported by the document, it also allows searching for text,
 copying text to the clipboard, hypertext navigation, and
 table-of-contents bookmarks.
 .
 This package contains the documentation files.
